Source: ${PN}
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: crosstool-ng-microblaze:native
Maintainer: Jan Kiszka <jan.kiszka@siemens.com>

Package: ${PN}
Architecture: all
Description: ${DESCRIPTION}
