Source: jailhouse-@KERNEL_NAME@
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: linux-headers-@KERNEL_NAME@, git,
               dh-python, python-pip:native, python-setuptools, python-mako:native
Maintainer: Jan Kiszka <jan.kiszka@siemens.com>
X-Python-Version: >= 2.7

Package: jailhouse-@KERNEL_NAME@
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, linux-image-@KERNEL_NAME@, python-mako
Description: Jailhouse partitioning hypervisor
