CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="/downloads/crosstool-ng"
CT_PREFIX_DIR="${CT_TOP_DIR}/.install"
# CT_RM_RF_PREFIX_DIR is not set
# CT_LOG_TO_FILE is not set
CT_ARCH_MICROBLAZE=y
CT_ARCH_LE=y
CT_TARGET_VENDOR="crosstool"
CT_GCC_V_7=y
