Source: non-root-initramfs
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends: wget, cpio, unzip, rsync, python:native, bc
Maintainer: Jan Kiszka <jan.kiszka@siemens.com>
Rules-Requires-Root: no

Package: non-root-initramfs
Architecture: any
Description: Linux initramfs for Jailhouse non-root cells
